body, h1, form, img, a {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  h1 {
    text-align: center;
    color: #3498db;
  }
  
  form {
    text-align: center;
    margin-top: 20px;
  }
  
  #search-input {
    padding: 8px;
    width: 70%;
    border: 1px solid #3498db;
    border-radius: 5px;
  }
  
  #search-button {
    padding: 8px 15px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #search-button:hover {
    background-color: #2980b9;
  }
  
  .search-results {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 20px;
  }
  
  .search-result {
    margin: 10px;
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  a {
    display: block;
    margin-top: 10px;
    color: #3498db;
    text-decoration: none;
    font-weight: bold;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  #show-more-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #show-more-button:hover {
    background-color: #2980b9;
  }